@charset "UTF-8";

/*共通の部分 */
html {
    font-size: 100%;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.7;
    color: #432;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

